@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Roboto', sans-serif;
	color: white;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

#home a {
	color: rgb(72, 206, 19);
}

nav .logo a {
	color: white;
	font-weight: 700;
}

nav {
	padding: 0 20px 0 20px;
	color: white;
	background-color: #050a25;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4rem;
}

#home,
#about,
#work,
#resume,
#contact,
footer {
	margin-top: 30px;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav ul li a {
	color: white;
}

.nav-link:hover {
	text-decoration: underline;
}

body {
	background-image: url('./img/pexels-negative.jpg');
	background-position: center;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

form submit {
	padding: 10px;
}

form label,
input {
	display: block;
}

footer {
	margin-top: 30px;
	width: 100%;
}

.up-link {
	display: inline-block;
	width: 90px;
	text-align: center;
	padding: 4px;
	text-align: center;
	line-height: normal;
	height: 30px;
	background-color: #050a25;
	color: white;
}
